.sai
{
	background-color: #3c56b2;
}
ul li a
{
color: white;
}
.hari
{
	background-color: orange;
	
}
 i 
{
	color: white;
	font-size: 50px;


}
.fo
{
	background-color: black;
	text-decoration-color: white;
	color: white;
	width: 100%px;
}
.sub1
{
	float: right;
	font-size: 40px;

}
h4 a 
{
	color: white;
}

.mo ul li a
{
	color: black;
	font-size: 20px;
}
.mo ul li a:hover
{
	background-color: chocolate;
}
.fu
{
	background-color: salmon;
}
.da 
{
background-color: orange;

color: white;
}
.doo{
	

}
.high 
{
	
}
.Whylis
{
	background-color: orange;
	color: white;
}
.saaa
{
	font-size: 25px;
	color: orange;
}
.saaa ul li a:hover
{
	color: chocolate;
}
.back 
{
	
}
